
<table>
  <tr>
    <td colspan="5">
      <input type="text" [(ngModel)]="result">
    </td>
  </tr>
  <tr>
    <th><button (click)="add(7)" >7</button></th>
    <th><button (click)="add(8)">8</button></th>
    <th><button (click)="add(9)">9</button></th>
    <th><button (click)="change('+')" class="buttonResult" value="+">+</button></th>
    <th><button class="buttonResult"(click)="delete()" >AC</button></th>
  </tr>
  <tr>
    <th><button (click)="add(4)">4</button></th>
    <th><button (click)="add(5)">5</button></th>
    <th><button (click)="add(6)">6</button></th>
    <th><button (click)="change('*')" class="buttonResult" value="x">X</button></th>
    <th><button class="buttonResult" >()</button></th>
  </tr>

  <tr>
    <th><button (click)="add(1)">1</button></th>
    <th><button (click)="add(2)">2</button></th>
    <th><button (click)="add(3)">3</button></th>
    <th><button (click)="change('-')" value="-" class="buttonResult">-</button></th>
    <th><button (click)="change('/')" value="/" class="buttonResult">/</button></th>
  </tr>
  <tr>
    <th><button (click)="add(0)">0</button></th>
    <th><button >.</button></th>
    <th><button (click)="add(6)">6</button></th>
    <th><button (click)="delete()" class="buttonResult">C</button></th>
    <th><button (click)="getResult()" class="buttonResult">=</button></th>
  </tr>
</table>
