<table class="table table-striped">
  <thead>
  <tr>
    <th style="height: 70px" class="border-0 text-white bg-dark">ID</th>
    <th style="height: 70px" class="border-0  text-white bg-dark">FACILITY </th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">CUSTOMER</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">START DATE</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">END DATE</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">DESPOSIT</th>
    <th style="height: 70px" class="border-0 text-white  bg-dark">TOTAL</th>
    <th  style="height: 70px" class="border-0 text-white  bg-dark"> SERVICE</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contractList">
    <td>{{contract.id}}</td>
    <td>{{contract.facilityId}}</td>
    <td>{{contract.customerId}}</td>
    <td>{{contract.startDate}}</td>
    <td>{{contract.endDate}}</td>
    <td>{{contract.desposit}}</td>
    <td>{{contract.total}}</td>
    <td>service</td>
  </tr>
  </tbody>
</table>
