
<table>
  <tr>
    <td colspan="5">
      <input type="text" [(ngModel)]="result">
    </td>
  </tr>
  <tr>
    <th><button (click)="add7()">7</button></th>
    <th><button (click)="add8()">8</button></th>
    <th><button (click)="add9()">9</button></th>
    <th><button (click)="plus()" class="buttonResult">+</button></th>
    <th><button class="buttonResult"(click)="delete()" >AC</button></th>
  </tr>
  <tr>
    <th><button (click)="add4()">4</button></th>
    <th><button (click)="add5()">5</button></th>
    <th><button (click)="add6()">6</button></th>
    <th><button (click)="mul()" class="buttonResult">X</button></th>
    <th><button class="buttonResult" >()</button></th>
  </tr>

  <tr>
    <th><button (click)="add1()">1</button></th>
    <th><button (click)="add2()">2</button></th>
    <th><button (click)="add3()">3</button></th>
    <th><button (click)="sub()" class="buttonResult">-</button></th>
    <th><button (click)="div()" class="buttonResult">/</button></th>
  </tr>
  <tr>
    <th><button (click)="add0()">0</button></th>
    <th><button >.</button></th>
    <th><button (click)="add6()">6</button></th>
    <th><button (click)="delete()" class="buttonResult">C</button></th>
    <th><button (click)="getResult()" class="buttonResult">=</button></th>
  </tr>
</table>
