<div class="modal-content">
  <div class="modal-header center-box border-0">
    <h5 class="modal-title ">ADD NEW FACILITY</h5>
  </div>
  <div class="modal-body border-0">
    <form [formGroup]="facilityForm" (ngSubmit)= "onSubmit()">
    <div class="form-group">
        <label>Id:</label>
        <input type="text" class="form-control" formControlName="id">
        <p
          *ngIf="facilityForm.controls.id.hasError('required')
              &&( facilityForm.controls.id.touched || facilityForm.controls.id.dirty)">
          Not Empty
        </p>
      </div>
      <div class="form-group">
        <label>Size room:</label>
        <input type="number" class="form-control" formControlName="sizeRoom">
        <p
          *ngIf="facilityForm.controls.sizeRoom.hasError('required')
              &&( facilityForm.controls.sizeRoom.touched || facilityForm.controls.sizeRoom.dirty)">
          Not Empty
        </p>
      </div>
      <div class="form-group">
        <label>Max people:</label>
        <input type="number" class="form-control" formControlName="maxPeople">
        <p
          *ngIf="facilityForm.controls.maxPeople.hasError('required')
              &&( facilityForm.controls.maxPeople.touched || facilityForm.controls.maxPeople.dirty)">
          Not Empty
        </p>
      </div>
      <div class="form-group">
        <label> Price:</label>
        <input type="number" class="form-control" formControlName="price">
        <p
          *ngIf="facilityForm.controls.price.hasError('required')
              &&( facilityForm.controls.price.touched || facilityForm.controls.price.dirty)">
          Not Empty
        </p>
      </div>
      <div class="form-group">
        <label>Standard:</label>
        <input type="text" class="form-control" formControlName="standard">
        <p
          *ngIf="facilityForm.controls.standard.hasError('required')
              &&( facilityForm.controls.standard.touched || facilityForm.controls.standard.dirty)">
          Not Empty
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-danger"[routerLink]="['/facility']">Close</button>
    <button type="button" class="btn btn-warning" data-dismiss="modal"  (click)="onSubmit()">Save changes</button>
  </div>
</div>
